body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

img{
    width: 600px;
}



header{
    height: 100vh;
    display: grid;
    place-items: center;
    color: #ffffff;
    text-align: center;
    background-color:slateblue;
    background-image: url(img/backg.png);


}

header ul{
    list-style-type: none;
    padding: 0;
    display: flex;
}

header ul li{
    padding: 16px 24px;
}