*{box-sizing: border-box; margin: 0; padding: 0;}

body{
    background-color: #FEFBFF;
}

a:focus { outline: 2px dotted blue; }
a:hover, a:active { outline: 0; }

ul{
    padding: 0;
}

.topbar{
    background-color: #ffffff;
    width: 100%;
    border: 0.5px solid #CFCFCF
}


.sidenav{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    outline: 0.5px solid #CFCFCF;
    
}

.sidenav div{
    margin-bottom: 16px;
margin: 0 16px 16px 16px;
}


.sidenav p{

font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.15px;
text-align: left;
color: #656565;
padding: 8px;
margin: 0;
}

.sidenav a{
    margin: 0 8px 8px 8px;
    text-decoration: none;
}

.flex{
    display: flex;
}

.sidenav .activo{
 background-color: #5C65ED;
 border-radius: 8px;
}

.sidenav .inactivo:hover{
    background-color: #ececec;
    border-radius: 8px;   
}

.sidenav .activo .itemact{
    color: #ffffff;
}

.row>*{
    padding:0
}

.row{
    --bs-gutter-x: 0;
}

.logo{
    margin-bottom: 16px;
}

.container-fluid{
    padding-right: 0;
    padding-left: 0;

}

.icon{
    fill: #ffffff;
    width: 16px;
    margin: 8px 0 8px 8px;
}

main{
    padding: 24px;
}

h1{
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color:#333333;
}

h2{
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.15px;
text-align: left;
color:#333333;
margin-bottom: 24px;
}

h3{
    font-family: 'Roboto', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.15px;
text-align: left;
color:#333333;
margin-bottom: 24px;
}

.card{
    border-radius: 16px;
    padding: 32px;
    border: 0.5px solid #CFCFCF;
    margin-left: 16px;
    margin-top: 16px;
    text-decoration: none;
    transition: 100ms;
}

.card:hover{
    border: 1px solid #5C65ED;
    transform: scale(1.02);
}

.card3{
    border-radius: 16px;
    padding: 32px;
    border: 0.5px solid #CFCFCF;
    margin:  0px 16px 16px 16px;
    text-decoration: none;
    background-color: #ffffff;
}

.g-4{
    column-gap: 16px;
    --bs-gutter-y: 0;
}

.list-group-item{
    border: none;
    text-decoration: none;

}


.card>.list-group{
    border: none;
}

.card-title{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
    margin-bottom: 24px;
    text-decoration: none;

}

.list-group-item{

font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.15px;
text-align: left;
color: #656565;
padding: 0;
margin-bottom: 16px;
}

.card-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.15px;
text-align: left;
margin-bottom: 24px !important;
text-decoration: none;

}

.card-body{
    padding: 0;
}

.rojo{
    color: #FD7014;
}

.verde{
    color: #00A679;
}

.btn-primary{
    background-color: #5C65ED;
    border-radius: 16px;
    width: 100%;
    padding: 8px 24px 8px 24px;
    border: none;
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.25px;
text-align: center;
color: #ffffff;
}

.btn-primarya{
    background-color: #5C65ED;
    border-radius: 16px;
    padding: 8px 24px 8px 24px;
    border: none;
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.25px;
text-align: center;
color: #ffffff;
}

.btn-secondary{
    background-color: transparent;
    border-radius: 16px;
    padding: 8px 24px 8px 24px;
    border: 1px solid #5C65ED;
    font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.25px;
text-align: center;
color: #5C65ED;
}

.botonest{
    width: auto;
    color: #ffffff;
    background-color: #5C65ED;
    padding: 8px;
    border-radius: 4px;
}
.botonest:hover{
    color: #ffffff;
    background-color: #505ae2;
}


a{
    text-decoration: none;
    color: #5C65ED;
}

.fotodeperfil{
    margin-bottom: 8px;
}

.bordecritico{
   border: 2px solid #FD7014;
   padding-bottom: 16px;
   border-radius: 8px;
}

.tagcritico{
    color: #333333;
    font-size: 18px;
    padding: 8px;
    background-color: #FD7014;
    margin: 0;
    display: inline-block;
    border-radius: 0 0 16px 0;
}


.calificacion{
    background-color: #5C65ED;
    border-radius: 16px;
    margin: 0 0 16px 24px;
}

.blan{
    color: #ffffff;
}

.estrella{
    width: 36px;
    margin-right: 24px;
}

.flexd{
    display: flex;
    align-items: center;
}

.comentario{
    text-align: right;
    background-color: none;
}

.cajacoment{
    display: flex;
    justify-content: end;
    padding: 16px;
}

.barra{
    background-color: #f4F4F4;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 16px 16px 0 0;
}

.hoja{
    background-color: #ffffff;
    padding: 24px;
}

.sticky-top { top: 0.5em; }



.comentarioflotante{
    position: absolute;
    top: 420px;
    padding: 16px;
    margin-right: 40px;}

.arre{
    display: flex;
    align-items: center;
    padding: 8px;
    text-align: center;
}

.disnone{
    display: none;
}

.colorb{
    color: #ffffff;
}

.flex2{
    border-radius: 16px 16px 0 0;
    background-color: #5C65ED;
    display: flex;
    justify-content: space-evenly;
    width: auto
}

.editcal{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 8px;
}

.fs-7{
    font-size: 14px;
    font-weight: 400;
}

.modal-footer{
    justify-content: center;
    border: none;
    margin-top: 24px;
}

.modal-header{
    border: none;
}

.modal-content{
    border-radius: 24px;
    padding: 16px 24px 16px 24px;
}
.perfil{
    background-color: #ffffff;
    border-radius: 24px;
    padding: 32px;
    border: solid 1px #CFCFCF;
    display: flex;
    margin: 8px;
}

.fiximg{
    width: 120px;
    margin-right: 24px;
    }

.bold{
    font-weight: 800;
}

.card2{
    background-color: #ffffff;
    border-radius: 24px;
    border: solid 1px #CFCFCF;
    padding: 24px;
    display: flex;
    margin: 8px;
    transition: 100ms;

}

.fixicon{
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.tareas2{
    background-color: #ffffff;
    border-radius: 24px;
    padding: 32px;
    border: solid 1px #CFCFCF;
    margin: 8px;
    display: flex;
    align-items: flex-end;

}

.tagcritico2{
    border-radius: 8px;
    background-color: #FD7014;
    padding: 8px;
    display: inline-block;
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
}

.vord{
    border-bottom: 2px solid #FD7014;
    margin: 0 8px;
    margin-bottom: 16px;
    margin-top: 16px;
    border-radius: 0 0 0 8px;

}

.tagcritico3{
    border-radius: 8px;
    background-color: #FFD954;;
    padding: 8px;
    display: inline-block;
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
}

.vord3{
    border-bottom: 2px solid #FFD954;;
    margin: 0 8px;
    margin-bottom: 16px;
    margin-top: 16px;
    border-radius: 0 0 0 8px;

}

.card2:hover{
    border: 1px solid #5C65ED;
    transform: scale(1.02);
}